.addItem{
    height: 5%;
    background-color: #e4e4e4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 30%
}

.addItemHolder{
  text-decoration: solid;
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.addItem:hover{
    background-color: white;
    transition-duration: 0.2s;
    border-bottom: 2px solid black;
    border-radius: 0px;
}
